.git
**/__pycache__
**/.venv
**/.ruff_cache
**/.mypy_cache
**/.pytest_cache
**/*.pyc
**/*.db
.env
backend/htmlcov
frontend/blob-report
frontend/dist
frontend/node_modules
frontend/playwright-report
frontend/test-results
node_modules
